p #[strong Имя: ] #{$info['name']}
p #[strong Номер телефона: ] #{$info['phone']}
p #[strong E-Mail: ] #{$info['email']}
p #[strong Контакты: ] #{$info['contacts']}
p #[strong Вопрос: ] #{$info['question']}