p #[strong Имя: ] #{$info['name']}
p #[strong Отчество: ] #{$info['second_name']}
p #[strong Фамилия: ] #{$info['last_name']}
p #[strong Номер телефона: ] #{$info['phone']}
p #[strong Город: ] #{$info['city']}
p #[strong E-Mail: ] #{$info['email']}
p #[strong Skype: ] #{$info['skype']}