extends ../layouts/main

block title
    | Наши контакты

block content
    .card.help
        .card-content
            ol
                li #[strong.toggle Что такое Дом Кругом?]
                    .content
                        p Krugomdom.com – первый сайт по созданию и демонстрации 3D-туров, в котором мы добились того, что в течении нескольких минут Вы сами создаете виртуальный тур по вашему объекту недвижимости. Визуализация с помощью виртуальных туров гораздо понятнее и от того более востребованная у людей занятых поиском недвижимости.
                br
                li #[strong.toggle Что мне нужно для создания виртуального тура?]
                    .content
                        p Если вы агентство недвижимости и собираетесь создавать много виртуальных туров и вам важно качество съемки, то необходимо приобрести специализированные и в тоже время простые по использованию камеры, которые могут снимать 360 градусов, а также штатив. 
                        p Если вам не особо важно качество, то можно с помощью любого смартфона с камерой снять панорамы (возможно вам понадобиться установка дополнительного ПО на свой смартфон) и уже с помощью нашего сайта создать виртуальный тур.
                br
                li #[strong.toggle Какую камеру 360 и штатив мне лучше использовать?]
                    .content
                        p Хорошо себя показали камеры компании Samsung, а именно Gear 360(2015) и Gear 360(2017). Они просты в использовании и их несложно приобрести, относительно моделей других компаний.
                        p В качестве штатива предлагаем использовать монопод по типу модели Slik Standpod, тренога тоже сгодится, но она тяжелее и менее мобильна.
                        p: a(href="http://www.samsung.com/ru/wearables/gear-360-c200/" target="_blank") Ссылка на Gear 360(2015)
                        p: a(href="http://www.samsung.com/ru/wearables/gear-360-2017/" target="_blank") Ссылка на Gear 360(2017)
                        p: a(href="https://market.yandex.ru/product--slik-standpod/13860685" target="_blank") Ссылка на Slik Standpod
                        p Производителей камер 360 огромное количество и до покупки рекомендуем пробные фото обработать с помощью нашего сервиса для получения наглядного результата.
                br
                li #[strong.toggle Как снимать камерой 360]
                    .content
                        p Для сьемки виртуального тура необходимо установить штатив в центре комнаты (помещения), закрепить камеру на штативе, высотой 1,4-1,7 м (это наиболее рациональное размещение, позволяющее максимально приблизится к естественному обзору человека). На примере камер SAMSUNG GEAR 360 в ручном режиме выставляем «2 линзы» то есть максимальную по ширине сьемку и устанавливаем таймер 5-10 сек за которые вы покидаете кадр. После сьемки переносите штатив с камерой в следующую комнату, и все повторяете. 
                        p Обладатели последних смартфонов SAMSUNG (список аппаратов поддерживаемых такую функцию на официальном сайте), могут установить приложения на свой телефон и производить сьемку дистанционно, а также обрабатывать фотографии.
                        p Несколько профессиональных советов: 
                        p При установке камеры следует помнить, что для идеальной сшивки сферической панорамы минимальное расстояние до объектов должно быть не менее 50 см., но если Вы снимаете в тесном пространстве, где расстояние от некоторых объектов до камеры может быть меньше 50 см, старайтесь повернуть камеру так, чтобы самые ближние к камере объекты находились прямо перед оптикой, а шов между объективами проходил по наиболее удалённым объектам. #[br]Также учитывая минимальное расстояние в 50 см для бесшовной съёмки всегда поднимайте используемый трипод на высоту более 50 см от поверхности, а лучше на высоту человеческого роста, чтобы просмотр тура был естественнее и для идеальной сшивки. 
                        p Возможно ли снимать на открытом солнце не получая сильного контраста на сферической панораме между снятыми фотографиями с передней и задней камеры Gear 360?#[br]Конечно, для идеального качества, рекомендуется ставить камеру так, чтобы сама Gear 360 находилась, пускай не в плотной, но тени, например, в тени ветки дерева или куста, либо в тени столба или если Вы хотите себя оставить в кадре, то можете поставить камеру напротив собственной тени, закрыв собою солнце. Если же вариантов спрятать камеру в тень нету, и нужно снимать на открытом солнце, то старайтесь пускать шов между объективами по солнцу. Т.е. направлять камеру на солнце не одним из объективов, а швом между ними, таким образом обе оптики будут засвечены в равной степени и контраста при сшивке не будет. 
                        p Фото с камеры сохраняем на своем компьютере с помощью кабеля или, если камера синхронизировалась со смартфоном, иными средствами передачи. 
                //- li #[strong.toggle Как снимать камерой 360]
                //-     .content
                //-         p Для начала Вам нужно зарегистрироваться на сайте для того, чтобы созданные туры были закреплены за Вами и Вы могли ими управлять и редактировать.
                //-         p Далее перейдите в раздел #[strong СОЗДАТЬ ОБЪЯВЛЕНИЕ].
                //-         p В начале Вам нужно будет выбрать один из трех типов панорам для загрузки. Учтите, что в процессе создания тура нельзя комбинировать тип панорам.
                //-         p #[strong Панорама 360] –  выбрав этот пункт Вы можете загрузить панораму созданную при помощи зеркальной камеры или панорама, которая сделана на камеру 360 градусов и которая прошла конвертацию из fisheye (картинки с эффектом рыбьего глаза) в стандартную сферическую панораму.
                //-         p #[strong Fisheye] – если у Вас имеются панорамы с эффектом рыбьего глаза, снятые на камеру, но еще не конвертированные до стандартной сферической панорамы, то Вы можете сразу загружать в этом пункте и разработанный нами механизм, автоматически в течении некоторого времени поменяет тип панорамы.
                //-         p #[strong Панорамы с мобильных устройств] – у Вас имеются панорамы с телефона или планшета? Тогда выбирайте этот тип панорам, но учтите далеко не все панорамы снятые на телефон хорошего качества, хорошо склеены и имеют 360 градусов область охвата местности.
                //-         br
                //-         p Выбрав нужный Вам тип панорамы нажмите кнопку #[strong ДОБАВИТЬ СЦЕНУ].
                //-         img(src=url('images/help-4-5.jpg'))
                //-         p После этого, дайте название Вашей панораме, например, комната 1. Нажмите кнопку #[strong ЗАГРУЗИТЬ ИЗОБРАЖЕНИЕ] и в открывшемся окне выберите картинку из вашего компьютера. Таким способом загрузите и дайте название всем панорамам. 
                //-         p Чтобы в виртуальном туре можно было перемещаться из одной панорамы в другую, нажмите кнопку #[strong ДОБАВИТЬ ПЕРЕХОД] и выберите из списка из какой панорамы в какую будет осуществляться переход, отрегулировав местоположение стрелки на панораме.
                //-         img(src=url('images/help-4-3.jpg'))
                //-         p Таким способом создайте необходимое количество переходов.
                //-         p В этом разделе постарайтесь максимально подробно описать виртуальный тур, который Вы создали. Для Вашего удобства мы добавили панель редактирования текста, которой Вы можете воспользоваться.
                //-         br
                //-         p Далее Вам нужно заполнить пункты, которые относятся к продаже или аренде объекта тура, который Вы создаете. Все пункты обязательны для заполнения, кроме #[strong КОМИССИЯ]  и #[strong ЗАЛОГ].
                //-         img(src=url('images/help-4-2.png'))
                //-         img(src=url('images/help-4-4.png'))
                //-         br
                //-         p Вам осталось выбрать местоположение объекта на карте вручную или вписать адрес в строку быстрого поиска и нажать кнопку #[strong СОХРАНИТЬ].
                //-         img(src=url('images/help-4.jpg'))
                br
                li #[strong.toggle Мощность вашего ПК и скорость интернета.]
                    .content
                        p Имейте ввиду, что обработка и создание панорам требуют определенных технических возможностей вашего компьютера и достаточной скорости интернета, что позволит вам комфортно работать. Процессор i3 , 5 м/б интернет соединение, больше 4 Гб оперативной памяти тоже приветствуется.
                br
                //- li #[strong.toggle Сколько стоит создать тур?]
                //-     .content
                //-         p Если Ваш виртуальный тур состоит из одной или двух панорам, то создание его бесплатно, срок хранения объявления 30 дней.#[br]Третья и каждая последующая панорама будут стоить 99 рублей#[br]Пример:#[br]Тур из двух панорам - 0 рублей.#[br]Тур из трех панорам - 99 рублей.#[br]Тур из четырех панорам –198 рублей и т.д.#[br]Помните, что, покупая пакеты панорам вы существенно экономите.#[br]Срок хранения платных панорам 90 дней с возможной пролонгацией.
                //-         p По истечению 90 дней вам предлагается продлить объявление на 30 дней за 99 руб.
                //- br
                //- li #[strong.toggle Какие способы оплаты вы принимаете?]
                //-     .content
                //-         p Мы сотрудничаем с Тинькофф банк, который принимает к оплате все основные виды платежных систем законно действующих на территории РФ. 
                //-         p По всем вопросам обращайтесь: admin@krugomdom.com
                //- br
                br
                p: a(href=url('docs/Перечень услуг и их стоимость.docx')) Перечень услуг и их стоимость
                br
                p: a(href=url('docs/Оферта о заключении договора оказания услуг.docx')) Оферта о заключении договора оказания услуг
                br
                p: a(href=url('docs/Пользовательское соглашение.docx')) Пользовательское соглашение
                br
                p: a(href=url('docs/Условия платного размещения обьявлений.docx')) Условия платного размещения обьявлений